@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles starts*/
*{
  font-family: 'Poppins', sans-serif;
}
/* common styles ends*/
#found-nothing{
  display: none;
}
#show-more{
  display: none;
}